.App {
  text-align: center;
}
a {
  color: rgb(23, 23, 205);
  font-size: 17px;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-end;
  background: rgba(236, 241, 241, 0.711);
  padding: 5px;
  border: 50px;
}
nav a {
  margin: 15px;
  margin-left: 50px;
  text-decoration: none;
  position: relative;
}

nav a:first-child::after {
  content: '|';
  position: relative;
  font-size: medium;
  top: 20%;
  left: 80%;
}
