.App {
  text-align: center;
}
a {
  color: rgb(23, 23, 205);
  font-size: 17px;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  background: rgba(236, 241, 241, 0.711);
  padding: 5px;
  border: 50px;
}
nav a {
  margin: 15px;
  margin-left: 50px;
  text-decoration: none;
  position: relative;
}

nav a:first-child::after {
  content: '|';
  position: relative;
  font-size: medium;
  top: 20%;
  left: 80%;
}

button {
  border: 2px solid grey;
  border-radius: 6px;
  background-color: #fff;
  padding: 5px 5px;
  font-size: 17px;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}
